<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DXFeed" value="https://nuget.devexpress.com/api/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <!-- Map all Microsoft.* packages to nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="Serilog*" />
      <package pattern="coverlet.*" />
      <package pattern="NSubstitute" />
      <package pattern="xunit*" />
    </packageSource>
    <!-- If you need any DevExpress packages, map them to DXFeed -->
    <packageSource key="DXFeed">
      <package pattern="DevExpress.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
